@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Varela+Round&display=swap');
body {
  background-color: rgb(244, 235, 225);

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav
{
    font-family: 'Josefin Sans', sans-serif;

}
nav ul
{
    display: flex;
    list-style-type: none;
    height: 65px; 
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li
{
    padding: 0 12px;
}

.brand
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.brand .heading
{
    color: white;
 
    
}
.brand img
{
    width: 70px;
    padding: 0 8px;
}

.container
{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-position: center;
    background-image: url('Assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
background-attachment: fixed;

}

.bottom
{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

}

.icons
{
  margin-top: 14px;

}

.icons i
{
    cursor: pointer;
    padding: 0 5px;
}

#myProgressBar
{
    width: 80vw;
    cursor: pointer;
    

}

.songItemcontainer
{
    margin-top: 64px;
}

.songItem 
{
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  margin: 12px 0;
  align-items: center;
  padding: 30px 0;
  border-radius: 30px;

}

.songItem img {

    width: 60px;
    margin-right: 23px;
    cursor: pointer;

}

.timeStamp
{
    margin:0 38px;
}
.timeStamp i{
    cursor: pointer;
}

.song-info
{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.song-info img 
{
    opacity: 0;
    transition: opacity 0.4s  ease-in;
}

@media screen and (max-width:800px){
   
   

    .icons {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 0;
    
        }

    .song-info
    {
    
             position: absolute;
            right: 75vw;
            font-size: 15px;
            font-family: 'Varela Round', sans-serif;
            font-weight: bold;
    }
        .song-info img {
            opacity: 0;
            transition: opacity 0.4s ease-in;
            width:50px ;
        }


                .container {
                  
                  
                    margin: 23px auto;
                    width: 90%;
                    border-radius: 12px;
                    padding: 34px;
                    background-position: center;
                    background-image: url('Assets/bg.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                    padding: 0 30px;
                
        
                }



                .songItem {
                    height: 50px;
                    width: 310px;
                    border-radius: 20px;
                    
        
                }

                .timeStamp {
              
                      display: flex;
                      margin: 0 38px;
                    
                       

                }
        
                .timeStamp i {
                    cursor: pointer;

                   
                }
               

        

